<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h2>This is a handle bars Page</h2>
  <h4>My name is {{name}} and I'm currently in the {{bootcamp}} bootcamp</h4>
  {{#if lastName}}
  <h4>My last name is: {{lastName}}</h4>
  {{else}}
  <h4>CHECK: No last name provided</h4>
  <h5>The cities that Ironhack is available at are the following</h5>
  {{!-- show that it can be anything --}}
  <ul> 
    {{#each cities}}
    <p>{{@index}}: {{this}}</p>
    {{/each}}
  </ul>
  {{/if}}
  {{#with address}}
    <p> {{number}}, {{street}}</p>
  {{/with}}
</body>
</html>